@import url('https://fonts.googleapis.com/css?family=PT+Sans');


#background-img {
  position:absolute;
  background-image: url("img/sunny.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  /*filter: blur(3px);*/
}


.app-container{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-content:flex-start;
}




html, body, #root, .stretch-full {
  position:absolute;
  text-align: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'PT Sans', sans-serif;
}

span {
  white-space: pre;
}

.info{
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 3.5%;
  text-align:left;
}

#title {
  text-align:left;
  margin:0;
  font-weight: normal;
  padding-bottom: .25%;
}

#title > span {
  background: black;
  color: white;
  white-space:pre;
}


.header-main-section-footer{
  display:flex;
  flex-direction: column;
}



main {
 background: white;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 5px;
  border-style: outset;
  border-color: black;
  border-width: .1em;
}



header h1 > span, .year span {
  border-style:solid;
  border-color:black;
  border-width: 1.5px;
  background: #e1ff869e;;
}



/* line-on-sides soln from stack overflow courtesy of electrophanteau
    Editted slightly to add size-change responsiveness
*/
.decorated{
     overflow: hidden;
     text-align: center;
 }
.decorated > span{
    position: relative;
    display: inline-block;
}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1.5px solid;
    width: 35vw; /* half of limiter */
    margin: 0 20px;
}
.decorated > span:before{
    right: 100%;
}
.decorated > span:after{
    left: 100%;
}

.yearGroup > .decorated >span:before, .yearGroup >.decorated >span:after {
  border-bottom: 1px solid;
  color:black;
}
/* end of line-on-sides */

.hug{
  width: auto;
  display: inline-block;
}

.buttons {
  padding:.5%;
}

button {
  background-color: #e1ff869e;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

button:hover{
  background-color: black;
  color: beige;
}


.editor {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.center {
  align-items:center;
  margin-left:auto;
  margin-right:auto;
}

.info span > span {
  font-size: 16pt;
}

.info > span {
  background: #ecffb4 ;
  border-style:solid;
  border-color:black;
  border-width: 2px;
  padding: .15%;
  padding-top: .30%;
}

.year > span {
 border-style: solid;
 border-color: black;

}


.yearGroup {
  padding: 2%;
  padding-top: 0px;
}

.monthGroup {
  background-color: #ecffb4;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-style: solid;
  border-width: 1px;
}


.years, .months, .days {
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.years{
  justify-content: space-around;
}


.day.underline {
  margin:auto;
  width:30%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}


.entries-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
}

div.entry:hover {
  background: #e1ff869e;
  border-left-style: solid;
  border-left-width: 5px;
  padding-left: 5px;
  border-color: black;
  color: black;
}

div.entry {
  cursor: pointer;
  flex-basis: 20%;
  padding: 10px;
  margin-top: .5em;
  margin-left: .5em;
  margin-right: .5em;
}


footer  span {
  background: black;
  color:white;
  font-size: .8em;
}

footer{
  margin-top: auto;
}

a{
  color: yellow;
  text-decoration:none;
}

/* animations */


.fade-enter {
 opacity: 0;
 transform: translate(0,-15%);
}
.fade-enter.fade-enter-active {
 opacity: 1;
 transition: opacity 1s ease;
 transform: translate(0, 0);
 transition-property: transform, opacity;
 transition-duration: 1000ms;
 transition-timing-function: ease;
}
.fade-exit {
 opacity: 1;
 transform: translate(0,0);
 transition-property: transform, opacity;
 transition-duration: 1000ms;
 transition-timing-function:  ease;
}
.fade-exit.fade-exit-active {
 opacity: 0;
 transform: translate(0,-15%);
}
